.filtersContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: #e8e8e8;
}

.filtersContainer .propertyFilter {
    padding-right: 30px;
}

.filtersContainer .filter h2 {
    margin: 5px 0 10px 0;
}

.filtersContainer .filter ul {
    list-style: none;
    text-align: left;
}

.filtersContainer .stockFilter ul {
    column-count: 2;
    column-span: all;
}