.highlightContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3.5em 0 6.5em 0;
}

.highlightContainer h2 {
    font-size: 36px;
    color: #216c2a;
}

.highlightContainer .highlightedStat {
    max-width: 400px;
}